h1{
  font: 35px bold italic Georgia;
  color: rgb(255,0,150);
  background-color: grey;
  border: 2px dotted black;
  padding: 5px;
}

img{
  border: 2px solid red;
  padding: 5px;
}

h2{
  font: 25px georgia,arial,sans-serif;
  color: grey;
  background-color: pink;
  border: 2px dotted black;
  padding: 4px;
}

ul{
  color: white;
  background-color: black;
  border: 3px dotted white;
  padding: 6px;
}
